.video-page{
    padding-top: 30px;
    height: 100%;
    min-height: 100vh;
    /* min-width: 100%; */
    /* max-width: 70%; */
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
    padding: 30px 30px;
    width: calc(100vw - 180px);
}

.section{
    padding-bottom: 15px;
    border-bottom: #E0E0E0 1px solid;
    margin-top: 10px;
    /* width: 100%; */
    /* margin: 5px 0px; */
}

.video-on-page{
    /* width: 100%;
    height: 100%; */
    /* height: 700px; */
    width: 1000px;
    /* height: 40rem;
    width: 60rem; */
    height: 40rem;
    max-width: 100%;
    /* min-width: 60rem; */
}

.page-title{
    font-size: large;
    font-weight: bold;
    margin: 10px 0px;
}

.timer-edit-delete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.edit-delete{
    display: flex;
}

.video-section{
    max-width: 1000px;
}

.page-timer{
    color: #626262;
}

.edit-delete {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.video-description{
    width: 60%;
}

.pic-username{
    display: flex;
    align-items: center;
}

.page-pfp-div{
    margin-right: 7px;
    height: 100%;
}

.page-username{
    font-weight: bold;
}

.video-description{
    margin-left: 46px;
    font-size: 14px;
    overflow-wrap: break-word;
}

.edit-delete>button{
    width: 100px;
    margin-left: 10px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(224, 7, 7, 1);
    transition: .5s;
    color: white;
}

.edit-delete>button:hover {
    cursor: pointer;
    background-color: rgb(255, 14, 14);
}

.comment-count{
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: #030303;
}

.go-to-user:hover{
    color: #282828;
}

.each-comment{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.comment-username{
    margin-right: 10px;
    font-weight: bold;
}

.second-half-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.edit-delete-comment-button{
    display: flex;
}

.delete-left-spacer{
    margin-left: 5px;
}

.first-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.likes{
    display: flex;
    flex-direction: row;
    font-size: large;
    /* transition: .5s; */
}

#is-liked{
    color: blue;
    /* margin-right: 10px; */
}

#is-liked:hover{
    color: rgb(92, 92, 246);
}

.like-button{
    cursor: pointer;
}

#not-liked:hover{
    color: rgb(92, 92, 246);
}

#one-like{
    padding-right: 10px;
}