.create-comm-textarea{
    height: 5rem;
    /* border: none;
    border-bottom: 1px solid black; */
    background-color: #F9F9F9;
}

.comment-form-page{
    margin-top: 10px;
}

.submit-button-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.submit-button{
    padding: 6px 20px;
    border: none;
}

#yes-comm{
    background-color: #085ED4;
    color: white;
}

#no-comm{
    color: #A9A9A9;
    background-color: #ECECEC;
}

@media only screen and (max-width: 1023px) {
    .create-comm-textarea{
        font-size: 12px;
    }
}