.delete-modal{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 60px;
    align-items: center;
}


.nice-words{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #999999;
}

.video-title{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-line: underline;
}

.header-del-conf{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: #686868; */
    /* width: 100%; */
}

/* .questionmark{
    text-decoration: none;
} */