.video-list-page{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    background-color: #F9F9F9;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
}

/* .video-list-page{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
} */

.each-video{
    width: 300px;
    /* flex: 0 1 22%; */
    height: 300px;
    margin: 0px 10px;
    margin-top: 10px;
}

video{
    /* object-fit: fill; */
    background-color: black;
}

button:hover {
    cursor: pointer;
}

.title{
    font-size: medium;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.second-row{
    display: flex;
    align-items: center;
    margin-left: 46px;
    margin-bottom: 5px;
    color: #3E3E3E;
    font-size: 15px;
    /* max-height: 30px; */
}

.prof-pic-div{
    margin-right: 7px;
}

.profile-image-video-list{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.timer{
    margin-left: 46px;
    color: #3E3E3E;
    font-size: 15px;
}

/* .video-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */